<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <h1 id = "login-title">Sign In</h1>
    <ul>
        <% if(messages.success_msg) { %>
            <li>
                <%= messages.success_msg %>
            </li>
            <% } %>
    </ul>

    <ul>
        <% if(messages.error) { %>
            <li>
                <%= messages.error %>
            </li>
            <% } %>
    </ul>

    <form action="/users/login" method="POST">
        <div>
            <input type="email" id="email" name="email" placeholder="Email" required />
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password" required />
        </div>
        <div>
            <input id = "login-button" type="submit" value="Login" />
        </div>
        <br>

        <!--Google login button-->
        <div class="row">
            <div class="col-md-3">
                <a class="oauth-container btn darken-4 white black-text" href="/auth/google" role="button"
                    style="text-transform:none">
                    <img width="25px" style="margin-right:5px" alt="Google sign-in"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
                </a>
            </div>
        </div>

        <br>

        <p id="prompt1">Don't have an account with us yet?</p>
        <a class = "oauth-container" href="/users/register">Register here</a>
    </form>

</body>

</html>